#btn{
    display: flex;
    justify-content: space-between;
}
#head{
    display: flex;
    justify-content: center;
}
#cunt{
    display: flex;
    justify-content: center;
}
#ubuntu{
    display: flex;
    justify-content: center;
   
}
#q{
    color:grey
}
#w{
    color:grey
}
#e{
    color:grey
}
#r{
    color:grey
}
#t{
    color:grey
}
#y{
    color:grey
}
#u{
    color:grey
}
#navy{
    position: sticky;
    top: 0px;
    z-index: 1;
}